.shadow-image {
  box-shadow: 4px 4px 8px rgba(1, 1, 1, 0.2);
}

.full-image {
  width: 80%;
}

.mid-image {
  width: 60%;
}

.small-image {
  width: 40%;
}

.mini-image {
  width: 20%;
}

/* Video styles */
.video-divert {
  display: block;
  text-align: center;
  align-content: center;
  align-self: center;
}
.video-divert p{
  display:block;
  font-style: italic;
  min-width: 50%;
  text-align: center;
}

.video-divert a{
  display:block;
  white-space: pre-line;
  position: relative;
  text-align: center;
  align-content: center;
  align-self: center;
  width: 80%;
  min-width: 150px;
  max-width: 400px;
  height: auto;
  margin: auto;
}

.video-divert img{
  display: block;
  text-align: center;
  align-content: center;
  align-self: center;
}

.video-divert .overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  height: 100%;
  text-align: center;
  align-self: center;
  vertical-align: middle;
  /* padding-top: 30%;
  padding-bottom: 30%; */
}

a:hover .overlay {
  opacity: 1;
}

/* .iframe-wrapper {
  text-align: center;
  width: 100%;
  height: 450px;
  margin-bottom: 2em;
}

iframe {
  width: 100%;
  min-width: 321px;
  max-width: 800px;
  height: 100%;
} */

/* Other styles */
.tool-icon {
  width: 3em;
div.figure {
  align: center;
}

p.caption {
  margin: 5px;
}

.inline-icon {
  width: 1.5em;
}

.tool-icon {
  width: 3em;
}
